*{
    margin: 0;
   
}

body{
    margin: 0;
   
}
header{
   display: inline-block;
   width: 100%;
   color: white;
   position: fixed;    
}
.home{
   display: inline-flex;
   align-items: center;
   width: 100%;
   background-color: #199DE5;
}
.seytech{
   display: inline-flex;
   align-items: center;
   width: 160px;
   padding: 0px;
   background-color: #076490;  
}
.seytech div{
   font-size: 20px;
}
.home .fa{
   margin: 20px;
}
br{
   clear: both;
}

/* added header */
#left{
   width: 320px;
   display:flex;
   position: absolute;
  
   
}


#main{
   width: 320px;
   
   height: 300px;
   border-radius:5px;
 
   box-shadow: rgb(231, 231, 231) 0 0 5px 5px;
}

#main h2{
   text-align: center;
   padding-top:10px ;
}
#main img{
   border-radius: 50%;
 margin-left: 33%;
}
hr{
  width: 90%;
  border: none;
  height: 1px;
  background-color: #eee;
}
.container{
   display: flex;
   flex-direction: column;
   font-size: 15px;
   
   padding:5px;
}
.text{
 
display: inline-flex;

}
.text i{
   color:lightgray;
   margin-left:5px;
   padding: 0px;
   margin-top: 0px;
  
}
  
.text p{
   font-weight: lighter;
   margin-top: 0px;
   margin-left: 10px;
   padding-left:2px ;
} 

button{
   background-color: #199de5;
}

.sections{
   display: flex;
   flex-direction: column;
   width: 320px;
   margin-top: 20px;
   box-shadow: rgb(231, 231, 231) 0 0 5px 5px;
}
.cards button,input{
   
   height: 30px;
   text-align: left;
   border: none;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 20px;

}
.cards button{
   color: #fff;
   width: 100%;
    
}
.cards button:hover{
   color: #000;
   background-color: #becbd2;
   cursor: pointer;
}
.cards input{
   width:90% ;

}
.cards button i{
   padding-right: 20px;
}

.photo img{
   width: 120px;
   margin: 15px;
   

}
.interests{
   display: flex;
   flex-wrap: wrap;
   width: 300px;
   margin-top: 20px;
   box-shadow: rgb(231, 231, 231) 0 0 5px 5px;
   padding: 10px;
   margin-right: 0;
   border-radius: 5px;
   
}
.interests p{
   font-size: 15px;
   padding:3px;
   margin-bottom: 0;
   margin-top: 0;

}
.interests > div{
font-size: 12px;
width: 50px;

text-align: center;
padding:3px;
margin: 3px;
height: 15px;

}

.hey{
   margin-top: 20px;
   width: 320px;
   background-color: #dfe5e8;
   margin-bottom: 10px;
  
   border: 1px solid #ccc;
   border-radius: 5px;
   height: 100px;
}
.hey .remove{
 float: right;
 margin-top: 0;
 margin-right: 0;
 cursor: pointer;
   padding:10px 15px;
   background-color: #becbd2;
}
.hey .remove:hover{
   background-color: rgb(221, 212, 200);
}
.hey p{
   padding:5px 10px;
  
   
}
.container-a {
   background-color: white;
   height: 120px;
   width: 55%;
   margin: 0 auto;
   margin-top: 20px;
   padding: 10px 20px;
   box-shadow: rgb(231, 231, 231) 0 0 5px 5px;
 }
 .container-b {
   background-color: white;
 
   height: 450px;
   width: 55%;
   margin: 0 auto;
   margin-top: 20px;
   padding: 10px 20px;
   box-shadow: rgb(231, 231, 231) 0 0 5px 5px;
   align-content: center;
 }
 .right {
   float: right;
   color: rgb(177, 177, 177);
 }
 .rachel {
   display: inline-block;
 }
 .main-img {
   display: flex;
   justify-content: space-evenly;
   vertical-align: middle;
   width: 100%;
 }
 
 .status {
   width: 100%;
   margin-top: 10px;
   padding: 10px 0 10px 10px;
   border: 1px solid grey;
 }
 
 section-b {
   display: inline-block;
   width: 120px;
 }
 .photo {
   border: 1px solid grey;
   border-radius: 50%;
 }
 .a,
 .b {
   padding: 0 22px;
   margin: 0 5px;
 }
 .a {
   padding-right: 0;
 }
 .b {
   padding-left: 0;
 }
 
 .btn-a {
   margin-bottom: 5px;
   border: none;
 }
 .btn-c{
     width:150px;
     padding: 10px;
     background-color:#199de5 ;
     color: white;
     border-style:none;
 
 }
 .btn-a, .btn-c:hover {
   background: rgb(177, 177, 177);
 
 }
 .fa{
     margin-right:5px ;
 }
 
 .btn {
   width: 100px;
   padding: 10px;
   margin-top: 10px;
   color: white;
   background: #199de5;
   list-style: none;
   border-style: none;
 }
 .btn:hover {
   background-color: rgb(177, 177, 177);
 }
aside{
   float: right;
   width: 20%;
   font-size: 18px;
   margin-right: 15px;    
}
.block{ 
   text-align: center;
   padding: 0px 10px;
   margin: 20px 0px;
   width: 100%;
   box-shadow: rgb(231, 231, 231) 0 0 5px 5px;
}
.a, .b{
   padding-top: 20px;
}
.react-logo img{
  width: 90%;
}

.info{
   width: 80%;
   padding: 10px;
   border: none;
   background: lightgray;    
}
.info:hover{
   background-color: rgb(177, 177, 177);
}
.dog{
   width: 60%;
   
}
button{
   margin-bottom: 15px;
}
.btn{
   color: white;
   width: 40%;
   padding: 10px;
   border: none;
}
.btn:hover{
background-color: lightgrey;
color: darkgrey;
}
.check{
   background-color: rgb(182, 250, 182);
}
.remove{
   background-color: rgb(243, 160, 174);    
}
.ads{
   margin: auto;
   padding: 40px;
}
.fa-bug{
      padding: 50px;
}
br{
   clear: both;
}
footer{
  
   color: white;
   width: 100%;
}
.foot{
   background-color: #199DE5;
   padding: 22px;
   font-size: 20px;

}
.power{
   background-color: #076490;
   padding: 18px;
}
footer{
   color: white;
   width: 100%;
   
}
.blue{
   background-color: #199DE5;
   padding: 22px;
   font-size: 20px;
}
.dark{
   background-color: #076490;
   padding: 18px;

}
.dark a{
   color: white;
}

@media screen and (max-width:768px){
   #left{
       width: 100%;
   }
   #main{
       width: 100%;
   }

   .sections{
      
       width: 100%;
   }
   
   .photo img{
       width: 90%;
   }

   .hey{
       display: none;
   }
   .interests{
       display: none;
   }


   aside{
      float: none;
      margin: auto;
      width: 90%;
     
  }
  .info{
      
      margin: auto;
      width: 100%;
   
  }
  .a, .b{
      padding-top: 10px;
      padding-bottom: 15px;
  }
  .btn{
      display: block;
      margin: auto;
      width: 100%;
      margin-bottom: 20px;
  }
  
}